html body {
  background-color:#f5f5f5;
}
.userlist {
  background-color:#a6a6a6 !important;
  min-height: 64px
}
.col-md-8 {
  padding-bottom:20px;
}

.card-body{
  padding: 0.2em!important;
  text-align: left;
}
.my-card-header{
  color:#a6a6a6;
  background-color:#f5f5f5;
  padding: 2px 0 2px 5px
}
.my-card-header small.username{
  float: left;
}
.my-card-header small.time{
  float: right;
  padding-right:5px;
}
.scroll-outer{
  overflow: scroll;
  overflow-y: scroll;
  overflow-x:hidden
}
.scroll{
  max-height: 500px;
  min-height: 500px;
  overflow-y: scroll(or auto);
}

#sendForm {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}